# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__ 
* List of popular languages for Data Science
* List of commonly used libraries
* Table of data science tools
* Arithmetic expressions (multiply)
* Arithmetic expressions (substract)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Keras

|Data Science Tools|
|------|
|RStudio|
|Jupyter Network|
|Zeppelin Notebook

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Przemys≈Çaw Czarnomysy